/*------------------------------------------------ЦВЕТА------------------------------------------------- */

$headersColor: rgb(25, 0, 255);
$mainTextColor: #980a87;
$additionalHighlightColor: #ff0026;
$additionalTextColor: #fff700;
$mainHighlightColor: #6fff00;

/*-----------------------------------------------ШРИФТЫ-------------------------------------------------- */

$commonFont: 'Arial';
$headersFont: 'Roboto';
