/*------------------------------------------------ЦВЕТА------------------------------------------------- */

$headersColor: #1f1d2a;
$mainTextColor: #4f5569;
$additionalHighlightColor: #9fa0a7;
$additionalTextColor: #ffffff;
$mainHighlightColor: #14a76c;

/*-----------------------------------------------ШРИФТЫ-------------------------------------------------- */

$commonFont: Rubik;
$headersFont: Nunito;
